<div class="navbar navbar-expand navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "emmvs.png" %>
    <% end %>

    <div class="d-flex">
      <% if user_signed_in? %>
        <!-- Dropdown Toggle -->
        <a href="#" class="d-block" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/emmvs", class: "avatar rounded-circle", alt: "User menu" %>
        </a>
        <!-- Dropdown Menu -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to t('navbar.user_settings'), edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to t('navbar.home'), root_path, class: "dropdown-item" %>
          <%= link_to t('navbar.messages'), root_path, class: "dropdown-item" %>
          <%= link_to t('navbar.log_out'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </ul>
      <% else %>
        <%= link_to t('navbar.login'), new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</div>
