<div class="container my-2 py-5">
  <h2><%= t('contacts.title') %></h2>
  <button class="btn btn-primary my-4" data-action="click->contact-picker#selectAllContacts"><%= t('contacts.import_contacts') %></button>
  <div class="row row-cols-1 row-cols-md-3 g-4" data-contact-picker-target="contactsList">
    <% @contacts.each do |contact| %>
      <div class="col">
        <div class="card h-100 p-4 bg-white text-dark">
          <%= link_to contact_path(contact), class: "text-decoration-none text-dark" do %>
            <%= contact.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Back', root_path, class: 'btn mt-3' %>
</div>
